
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Basket Devil Login</title>
    <!-- Update the link path to where your stylesheet file is located. For example: /path/to/your/assets/css/lib/uswds.min.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/uswds.css') }}" media="all" />
  </head>
  <body class="layout-demo">
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  <div class="usa-overlay"></div>
  <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">
<form class="usa-form" method="post">
  <fieldset>
    <legend class="usa-drop_text">Sign in</legend>

    <label for="sign-in-username">Email address</label>
    <input id="sign-in-username" name="username" type="text" autocapitalize="off" autocorrect="off">

    <label for="sign-in-password">Password</label>
    <input id="sign-in-password" name="password" type="password">
    <p class="usa-form-note">
      <a title="Show password" href="javascript:void(0);"
          class="usa-show_password"
          aria-controls="sign-in-password">
        Show password</a>
    </p>

    <input type="submit" value="Sign in">

  </fieldset>
</form>
  </main>
  <footer class="usa-footer usa-footer-medium" role="contentinfo">
  </footer>
  <!-- Update the link path to where your JavaScript file is located. For example: /path/to/your/assets/js/lib/uswds.min.js -->
  <script src="{{ url_for('static', filename='js/lib/uswds.min.js') }}"></script>
  </body>
</html>


